{% extends "students/base.html" %}

{% block body %}
<div class="card text-white bg-dark mt-5 mb-3" style="background-image: url('/Static/CSS/Technology_Trends (1)'); background-size: cover;">
    <div class="card-header">About Us!</div>
    <div class="card-body">
      <p class="card-text"><strong>At UtoR Solutions, we are passionate about leveraging cutting-edge technology to solve complex problems and empower businesses to thrive in the digital age. With a team of dedicated professionals and a commitment to excellence, we deliver innovative software solutions tailored to meet the unique needs of our clients.</strong></p>
    </div>  
{% endblock body %}